{% extends "gestion_association/base.html" %}

{% block content %}


<div class="card mt-3">
    <div class="card-header">
        <h5>Changement de mot de passe</h5>
    </div>
    <div class="card-body">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-md-6">
                    <a href = "{% url 'accueil' %}"  class="btn btn-secondary">Annuler</a>
                </div>
                <div class="col-md-6">
                    <input class="btn btn-info" type="submit" />
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}