<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Rappel de stérilisation</title>
</head>
<body>
    Bonjour, <br/>
    <br/>
    Ceci est une alerte automatique pour vous informer que {{adoption.animal.nom}} que vous avez récemment adopté
    auprès de l'association Ron'Rhône, n'a pas encore été stérilisé(e) selon nos informations.
    <br/>
    Si vous ne l'avez pas déjà fait, <span style="text-decoration: underline;"> veuillez prendre rendez-vous
    auprès d'un vétérinaire </span> afin d'effectuer la stérilisation. <br/>
    Merci d'informer l'association de la date prévue de stérilisation et de transmettre le justificatif de
    stérilisation après l'opération. Vous pouvez le faire en répondant à cet email.
    <br/>
    Nous vous rappelons qu'en adoptant {{adoption.animal.nom}}, vous vous êtes engagé à le/la faire stériliser
    et que tout manquement entrainera un encaissement du chèque de caution et un blocage du
    transfert de propriété de l'animal auprès de l'I-CAD.
    <br/>
    <br/>
    Nous vous remercions de votre compréhension et vous souhaitons une bonne journée.
    <br/>
    L'équipe Ron'Rhône.
</body>
</html>