{% extends "gestion_association/base.html" %}
{% block content %}
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <br/>
    <div class="row">
        <div class="col">
            <a href = "{% url 'animals' %}"  class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
$(function() {
  $('[name="date_sterilisation"],[name="date_dernier_vaccin"],\
  [name="date_prochain_vaccin"],[name="date_parasite"],[name="date_naissance"],[name="date_arrivee"]').datepicker({
      dateFormat: 'dd/mm/yy'
  });
});
</script>
{% endblock %}