{% extends "gestion_association/base.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}
{% load tag %}
{% block content %}

<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Recherche
            </div>
		<form action = "{% url 'animals' %}" method="post">
            <div class="card-body">
                {%csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.nom.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.nom }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.identification.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.identification }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
		    		    {{ form.type.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.type }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
		    		    {{ form.statuts.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.statuts }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
		    		    {{ form.sterilise.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.sterilise }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {{ form.date_naissance_min.label_tag }} {{ form.date_naissance_min }}
                    </div>
                    <div class="col-md-4">
                        {{ form.date_naissance_max.label_tag }} {{ form.date_naissance_max }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        {{ form.date_prochain_vaccin_min.label_tag }} {{ form.date_prochain_vaccin_min }}
                    </div>
                    <div class="col-md-4">
                        {{ form.date_prochain_vaccin_max.label_tag }} {{ form.date_prochain_vaccin_max }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
		    		    {{ form.sans_fa.label_tag }}
                    </div>
                    <div class="col-md-10">
                        {{ form.sans_fa }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
		    		    {{ form.fiv_felv.label_tag }}
                    </div>
                    <div class="col-md-8">
                        {{ form.fiv_felv }}
                    </div>
                </div>
                <div class="text-right">
                    <a href="{% url 'animals' %}" class="btn btn-info"> <i class="fa fa-sync" aria-hidden="true"></i> Réinitialiser</a>
                    <button class="btn btn-info" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Rechercher</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{{nb_results}} résultat(s)
<div class="table-responsive-sm p-4">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col" style="width:15%;">Statut</th>
            <th scope="col">FA</th>
            <th scope="col">Date de naissance</th>
            <th scope="col" >Identification</th>
            <th scope="col">ICAD</th>
            <th scope="col">Stérilisé</th>
            <th scope="col">Tests</th>
            <th scope="col">Vacciné</th>
            <th scope="col">Montant adoption</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animal_list %}
        <tr class="table-info">
            <td><a href= "{% url 'detail_animal' animal.id %}">{{animal.nom}}</a></td>
            <td>{{animal.get_statut_display}}</td>
            <td>{% if animal.famille %}<a href = "{% url 'detail_famille' animal.famille.id %}">{{animal.famille.personne}}</a>{% endif %}</td>
            <td>{{animal.date_naissance|default:" - "}}</td>
            <td>{{animal.identification}}</td>
            <td>{% if animal.lien_icad %}<a target="_blank" href= "{{animal.lien_icad}}"><i class="fas fa-link"></i></a>{% endif %}</td>
            <td>{{animal.get_sterilise_display}}</td>
            <td>{{animal.get_tests_str}}</td>
            <td>{{animal.get_vaccin_str}}</td>
            <td>{{animal.get_latest_adoption.montant|default:" - "}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if animal_list.has_previous %}
        <a href="?{% param_replace page=animal_list.previous_page_number%}">Précédente</a> -
        {% endif %}

        <span class="current">
            Page {{ animal_list.number }} sur {{ animal_list.paginator.num_pages }}
        </span>

        {% if animal_list.has_next %}
        - <a href="?{% param_replace page=animal_list.next_page_number%}">Suivante</a>
        {% endif %}
    </div>
</div>
<div class="text-right">
    <a href= "{% url 'create_animal' %}" class="btn btn-info">Ajouter un animal</a>
</div>
{% endblock %}

{% block script %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% endblock %}