{% extends "gestion_association/base.html" %}
{% block content %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations générales
                <a href= "{% url 'update_information' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Nom </strong> : {{animal.nom}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Sexe </strong> : {{animal.get_sexe_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Type </strong> : {{animal.get_type_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Date de naissance </strong> : {{animal.date_naissance|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Identification </strong> : {{animal.identification}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Circonstances d'arrivée </strong> : {{animal.circonstances}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Date de prise en charge </strong> : {{animal.date_arrivee|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Commentaire </strong> : {{animal.commentaire}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Statut </strong> : {{animal.get_statut_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Famille d'accueil </strong> :  {% if animal.famille %}<a href = "{% url 'detail_famille' animal.famille.id %}">{{ animal.famille.personne }}</a> {% endif %} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Lien ICAD </strong> : {% if animal.lien_icad %}<a target="_blank" href= "{{animal.lien_icad}}">
                        {{animal.lien_icad}}
                    </a>{% endif %} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Nekosable </strong> :
                        {% if animal.nekosable %} Oui
                        {% else %} Non {% endif %}
                        <br>
                    </div>
                </div>
                {% if animal.ancien_proprio %}
                <div class="row">
                    <div class="col">
                        <strong> Ancien propriétaire </strong> : <a href = "{% url 'detail_person' animal.ancien_proprio.id %}">
                        {{ animal.ancien_proprio }}</a>
                    </div>
                </div>
                {% endif %}

                {% if animal.is_adoptable %}
                {% if not animal.get_latest_adoption %}
                <a href= "{% url 'adoption' animal.id %}" class="mt-3 float-left btn btn-info">Déclarer l'adoption</a>
                {% endif %}
                    {% if not animal.famille %}
                    <a href= "{% url 'famille_select_for_animal' animal.id %}" class="mt-3 float-right btn btn-info">
                        Mettre en famille d'accueil
                    </a>
                    {% else %}
                    <a href= "{% url 'famille_select_for_animal' animal.id %}" class="mt-3 float-right btn btn-info">
                        Déplacer de famille d'accueil
                    </a>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% if animal.get_latest_adoption %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations d'adoption
                <a href= "{% url 'update_adoption' animal.get_latest_adoption.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                {% if animal.get_other_adoptions %}
                <div class="alert alert-info m-2" role="alert">
                    {% for adoption in animal.get_other_adoptions %}
                    Adoption précédente par {{adoption.adoptant}} le {{adoption.date|date:"d/m/Y"}} <br>
                    {% endfor %}
                </div>
                {% endif %}
                {% if animal.get_latest_adoption.annule %}
                <div class="alert alert-danger m-2" role="alert">
                    Adoption annulée <br>
                </div>
                {% endif %}
                {% if not animal.get_latest_adoption.annule %}
                <a href= "{% url 'cancel_adoption' animal.get_latest_adoption.id %}"
                   class="mt-3 float-right btn btn-outline-danger">Annuler cette adoption</a>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Adoptant </strong> :
                        <a href = "{% url 'detail_person' animal.get_latest_adoption.adoptant.id %}">
                            {{animal.get_latest_adoption.adoptant.prenom}} {{animal.get_latest_adoption.adoptant.nom}}
                        </a> <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Date d'adoption </strong> : {{animal.get_latest_adoption.date|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Montant </strong> : {{animal.get_latest_adoption.montant|default:" - "}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Montant restant </strong> : {{animal.get_latest_adoption.montant_restant|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Acompte versé </strong> : {{animal.get_latest_adoption.get_acompte_verse_display}} <br>
                    </div>
                    <div class="col">
                        <strong> Personne effectuant les visites </strong> : {{animal.get_latest_adoption.personne_visite|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Prévisite effectuée </strong> : {{animal.get_latest_adoption.get_pre_visite_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Visite de contrôle </strong> : {{animal.get_latest_adoption.get_visite_controle_display}} <br>
                    </div>
                </div>
                {% if animal.get_latest_adoption.bon %}
                <div class="alert alert-info m-2" role="alert">
                    {{ animal.get_latest_adoption.bon }}
                    <a href= "{% url 'update_bon' animal.get_latest_adoption.bon.id %}" class="close">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                {% else %}
                <a href= "{% url 'create_bon' animal.get_latest_adoption.id %}" class="mt-3 float-left btn btn-outline-info">Ajout d'un bon de stérilisation</a>
                {% endif %}
                <a href= "{% url 'adoption' animal.id %}" class="mt-3 float-right btn btn-outline-info">Ré-adoption</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations de santé
                <a href= "{% url 'update_sante' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <strong> Type de vaccin </strong> : {{animal.get_type_vaccin_display}} <br>
                    </div>
                    <div class="col">
                        <strong> Date prochain vaccin </strong> : {{animal.date_prochain_vaccin|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Primo vacciné </strong> : {{animal.get_primo_vaccine_display}} <br>
                    </div>
                    <div class="col">
                        <strong> Vaccins à jour </strong> : {{animal.get_vaccin_ok_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Test FELV </strong> : {{animal.get_felv_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Test FIV </strong> : {{animal.get_fiv_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Stérilisé </strong> : {{animal.get_sterilise_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Commentaire santé </strong> : {{animal.commentaire_sante}} <br>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Date d'administration anti-parasite </strong> : {{animal.date_parasite|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                    <div class="col">
                        <strong> Date du dernier vermifuge </strong> : {{animal.date_vermifuge|date:"d/m/Y"|default:" - "}} <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations de préférence
                <a href= "{% url 'update_preference' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Extérieur nécessaire </strong> : {{animal.preference.get_exterieur_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> A biberonner </strong> : {{animal.preference.get_biberonnage_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> A sociabiliser </strong> : {{animal.preference.get_sociabilisation_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Quarantaine </strong> : {{animal.preference.get_quarantaine_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Tranche d'âge </strong> : {{animal.get_tranche_age_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <strong> Animaux liés </strong> : {% for liaison in animal.get_animaux_lies %} <a href= "{% url 'detail_animal' liaison.id %}">{{liaison.nom}}</a>, {% endfor %} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <strong> Commentaire animaux liés </strong> : {{animal.commentaire_animaux_lies}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if animal.accueil_set.all.count >= 1 %}
<div class="row p-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Historique des accueils
            </div>
            <div class="table-responsive-sm p-4">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date de début</th>
                            <th scope="col">Date de fin</th>
                            <th scope="col">Famille</th>
                            <th scope="col">Commentaire</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acc in animal.accueil_set.all %}
                        <tr class="table-info">
                            <td>{{acc.date_debut|date:"d/m/Y"}}</td>
                            <td>{{acc.date_fin|date:"d/m/Y"|default:" - "}}</td>
                            <td><a href = "{% url 'detail_famille' acc.famille.id %}"> {{acc.famille.personne}}</a><br> </td>
                            <td>{{acc.commentaire}} </td>
                            <td>{{acc.get_statut_display}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
