{% extends "gestion_association/base.html" %}
{% block content %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations générales
                <a href= "{% url 'update_information' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Nom </strong> : {{animal.nom}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Sexe </strong> : {{animal.get_sexe_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Type </strong> : {{animal.get_type_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Date de naissance </strong> : {{animal.date_naissance|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Identification </strong> : {{animal.identification}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Circonstances d'arrivée </strong> : {{animal.circonstances}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Date de prise en charge </strong> : {{animal.date_arrivee|default:" - "}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Commentaire </strong> : {{animal.commentaire}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Statut </strong> : {{animal.get_statut_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> FA </strong> :  {{ animal.famille.personne.nom }} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Lien ICAD </strong> : {% if animal.lien_icad %}<a href= "{{animal.lien_icad}}">
                        {{animal.lien_icad}}
                    </a>{% endif %} <br>
                    </div>
                </div>
                {% if not animal.get_latest_adoption %}
                <a href= "{% url 'adoption' animal.id %}" class="mt-3 float-left btn btn-info">Déclarer l'adoption</a>
                {% endif %}
                <a href= "{% url 'famille_select_for_animal' animal.id %}" class="mt-3 float-right btn btn-info">
                    Mettre en famille d'accueil
                </a>

            </div>
        </div>
    </div>
</div>
{% if animal.get_latest_adoption %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations d'adoption
                <a href= "{% url 'update_adoption' animal.get_latest_adoption.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                {% if animal.get_other_adoptions %}
                <div class="alert alert-info m-2" role="alert">
                    {% for adoption in animal.get_other_adoptions %}
                    Adoption précédente par {{adoption.adoptant}} le {{adoption.date}} <br>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Adoptant </strong> :
                        <a href = "{% url 'detail_person' animal.get_latest_adoption.adoptant.id %}">
                            {{animal.get_latest_adoption.adoptant.prenom}} {{animal.get_latest_adoption.adoptant.nom}}
                        </a> <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Date d'adoption </strong> : {{animal.get_latest_adoption.date|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Montant </strong> : {{animal.get_latest_adoption.montant|default:" - "}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Montant restant </strong> : {{animal.get_latest_adoption.montant_restant|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Acompte versé </strong> : {{animal.get_latest_adoption.get_acompte_verse_display}} <br>
                    </div>
                    <div class="col">
                        <strong> Personne effectuant les visites </strong> : {{animal.get_latest_adoption.personne_visite|default:" - "}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Prévisite effectuée </strong> : {{animal.get_latest_adoption.get_pre_visite_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Visite de contrôle </strong> : {{animal.get_latest_adoption.get_visite_controle_display}} <br>
                    </div>
                </div>
                {% if animal.get_latest_adoption.bonsterilisation %}
                <div class="alert alert-info m-2" role="alert">
                    {{ animal.get_latest_adoption.bonsterilisation }}
                    <a href= "{% url 'update_bon' animal.get_latest_adoption.bonsterilisation.id %}" class="close">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
                {% endif %}
                <a href= "{% url 'adoption' animal.id %}" class="mt-3 float-right btn btn-outline-info">Ré-adoption</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations de santé
                <a href= "{% url 'update_sante' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <strong> Primo vacciné </strong> : {{animal.get_primo_vaccine_display}} <br>
                    </div>
                    <div class="col">
                        <strong> Vaccins à jour </strong> : {{animal.get_vaccin_ok_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Date dernier vaccin </strong> : {{animal.date_dernier_vaccin}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Date prochain vaccin </strong> : {{animal.date_prochain_vaccin}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong> Date du dernier vermifuge </strong> : {{animal.date_vermifuge|default:" - "}} <br>
                    </div>
                    <div class="col">
                        <strong> Stérilisé </strong> : {{animal.get_sterilisation_str}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Date d'administration anti-parasite </strong> : {{animal.date_parasite|default:" - "}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Test FELV </strong> : {{animal.get_felv_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Commentaire santé </strong> : {{animal.commentaire_sante}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Test FIV </strong> : {{animal.get_fiv_display}} <br>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Informations de préférence
                <a href= "{% url 'update_preference' animal.id %}" class="close">
                        <i class="fas fa-pen"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Extérieur nécessaire </strong> : {{animal.preference.get_exterieur_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> A biberonner </strong> : {{animal.preference.get_biberonnage_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> A sociabiliser </strong> : {{animal.preference.get_sociabilisation_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Niveau de présence nécessaire </strong> : {{animal.preference.get_presence_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong> Quarantaine </strong> : {{animal.preference.get_quarantaine_display}} <br>
                    </div>
                    <div class="col-sm-6">
                        <strong> Tranche d'âge </strong> : {{animal.get_tranche_age_display}} <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <strong> Animaux liés </strong> : {% for liaison in animal.animaux_lies.all %} <a href= "{% url 'detail_animal' liaison.id %}">{{liaison.nom}}</a>, {% endfor %} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
