{% extends "gestion_association/base.html" %}
{% block content %}
<h2>Modification des préférences de {{animal.nom}} </h2>
<br/>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ preference_form.media }}
    {{ preference_form.as_p }}
    {{ animal_linked_form.media }}
    {{ animal_linked_form.as_p }}
    <br/>
    <div class="row">
        <div class="col">
            <a href = "{% url 'detail_animal' animal.id %}"  class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>
{% endblock %}