{% extends "gestion_association/base.html" %}

{% block content %}


<h1> Trouver une famille d'accueil </h1>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">
        <div class="col">
            <a href = "#"  class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>


{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
{% endblock %}