{% extends "gestion_association/base.html" %}

{% block content %}


<h3 class="p-3"> Modification des informations d'accueil de la famille d'accueil de {{famille.personne}} </h3>

<form method="post" action="">
    {% csrf_token %}
    {{ famille_form.as_p }}
    {{ preference_form.as_p }}
    <div class="row">
        <div class="col">
            <a href = "{% url 'detail_famille' famille.id %}"  class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>


{% endblock %}