{% extends "gestion_association/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/family-selector/elm-datepicker.css' %}">
{% endblock %}


{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <div id="family-form-selector"></div>
    <div class="row">
        <div class="col">
            <a href = "{% url 'detail_animal' animal.id %}"  class="btn btn-secondary">Annuler</a>
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>


{% endblock %}

{% block script %}
<script src="{% static 'vendors/family-selector/family-selector.js' %}"></script>
<script>
    $(function() {
      const family_form_selector_element = document.getElementById("family-form-selector");
      const family_form_selector_app = Elm.FamilySelector.init({
        node: family_form_selector_element,
        flags: {
          animals : [
            {% for animal in animals %}
            {"id": {{ animal.pk }}, "label": "{{ animal.nom }}"}{% if not loop.last %},{% endif %}
            {% endfor %}
          ],
          url: "{% url 'familles_candidates_for_animal' animal.pk %}"
        }
      });
    });
</script>
{% endblock %}
