{% extends "gestion_association/base.html" %}
{% load tag %}
{% block content %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Recherche
            </div>
		<form action = "{% url 'persons' %}" method="post">
            <div class="card-body">
                {%csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        {{ form.nom.label_tag }}
                    </div>
                    <div class="col-sm-10">
                        {{ form.nom }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
		    		    {{ form.type_person.label_tag }}
                    </div>
                    <div class="col-md-10">
                        {{ form.type_person }}
                    </div>
                </div>

                <div class="text-right">
                    <a href="{% url 'persons' %}" class="btn btn-info"> <i class="fa fa-sync" aria-hidden="true"></i> Réinitialiser</a>
                    <button class="btn btn-info" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Rechercher</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{{nb_results}} résultat(s)
<div class="table-responsive-sm p-4">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Rôle(s)</th>
            <th scope="col">Adresse</th>
            <th scope="col">Téléphone</th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons %}
        <tr class="table-info">
            <td><a href = "{% url 'detail_person' person.id %}">{{person.nom}}</a></td>
            <td>{{person.prenom}}</td>
            <td>
                {% if person.is_famille %}
                <div class="role famille" >Famille d'accueil</div>
                {% endif %}
                {% if person.is_benevole %}
                <div class="role benevole">Bénévole</div>
                {% endif %}
                {% if person.is_adoptante %}
                <div class="role adoptant">Adoptant</div>
                {% endif %}
            </td>
            <td>{{person.get_adresse_complete}}</td>
            <td>{{person.telephone}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if persons.has_previous %}
        <a href="?{% param_replace page=persons.previous_page_number%}">Précédente</a> -
        {% endif %}

        <span class="current">
            Page {{ persons.number }} sur {{ persons.paginator.num_pages }}
        </span>
        {% if persons.has_next %}
        - <a href="?{% param_replace page=persons.next_page_number%}">Suivante</a>
        {% endif %}
    </div>
    <div class="text-right">
        <a href= "{% url 'create_person' %}" class="btn btn-info">Ajouter une personne</a>
    </div>
</div>

{% endblock %}