{% extends "gestion_association/base.html" %}
{% load static %}
{% block content %}

<h1> Adoption par {{person.prenom}} {{person.nom}} </h1>
<br>

<form method="post" action="">
   {% csrf_token %}
	{{ adoption_form.media }}
   {% include 'gestion_association/adoption/adoption_base_form.html' %}
   <div class="row">
   	<div class="col">
   		<a href = "{% url 'detail_person' person.id %}"  class="btn btn-secondary">Annuler</a>
   	</div>
   	<div class="col">
   		<input class="btn btn-info" type="submit" />
   	</div>
   </div>
</form>


{% endblock %}

{% block script %}
<script src="{% static 'js/adoption.js' %}"></script>
{% endblock %}