{% extends "gestion_association/base.html" %}
{% load static %}
{% block content %}
<h2>Modifier l'adoption de {{object.animal.nom}}</h2>
<br/>
<form method="post" action="" id="adoptionForm" data-calcul-montant-url="{% url 'calcul_montant_restant'%}" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <br/>
    <div class="row">
        <div class="col">
            {% if user.is_superuser  %}
            <a href = "{% url 'detail_animal' object.animal.id %}"  class="btn btn-secondary">Annuler</a>
            {% else  %}
            <a href = "{% url 'detail_animal_icad' object.animal.id %}"  class="btn btn-secondary">Annuler</a>
            {% endif  %}
        </div>
        <div class="col">
            <input class="btn btn-info" type="submit" />
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
<script src="{% static 'js/adoption.js' %}"></script>
{% endblock %}