{% extends "gestion_association/base.html" %}

{% block content %}

<h1> Adoption par {{person.prenom}} {{person.nom}} </h1>
<br>

<form method="post" action="">
   {% csrf_token %}
	{{ adoption_form.media }}
   {{ adoption_form.as_p }}
   <div class="row">
   	<div class="col">
   		<a href = "{% url 'detail_person' person.id %}"  class="btn btn-secondary">Annuler</a>
   	</div>
   	<div class="col">
   		<input class="btn btn-info" type="submit" />
   	</div>
   </div>
</form>


{% endblock %}

{% block script %}
<script>
$(function() {
  $('[name="date"],[name="date_visite"]').datepicker({
      dateFormat: 'dd/mm/yy'
  });
});
</script>
{% endblock %}