<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ronrhone</title>
</head>
<body>
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Navbar -->
        <nav class="navbar navbar-light" style="background-color: #349fcd;">
            <a class="navbar-brand" href="{% url 'accueil' %}">Application de gestion ronrhône</a>
            {% if title %}
            {{title}}
            {% endif %}
            <span class="d-flex">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#accountOptions" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-user "> Clémentine PERREAUT</i>
                </button>
                <button class="navbar-toggler mr-3 ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if selected == 'accueil' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'accueil' %}">Accueil</a>
                    </li>
                    <li class="nav-item {% if selected == 'animals' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'animals' %}">Animaux</a>
                    </li>
                    <li class="nav-item {% if selected == 'familles' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'familles' %}">Familles d'accueil</a>
                    </li>
                    <li class="nav-item {% if selected == 'persons' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'persons' %}">Personnes</a>
                    </li>
                    <li class="nav-item {% if selected == 'parametrage' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'parametrage' %}">Paramétrage</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="accountOptions">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'password_change' %}">Changer de mot de passe</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End navbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div> <!-- /.container-fluid -->
    </div><!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white mt-4">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2020</span>
            </div>
        </div>
    </footer> <!-- End of Footer -->
</div> <!-- End of Content Wrapper -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
</body>
</html>