{% extends "gestion_association/base.html" %}
{% block content %}
<!-- Content Row -->
<div class="row">
    <!-- Card adoptions -->
    <div class="col-xl-4 col-md-6 mb-4 mt-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-3">Adoptions</div>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?statuts=ADOPTABLE"><strong>{{a_proposer}}</strong>  à mettre à l'adoption</a></p>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?statuts=A_ADOPTER"><strong>{{a_l_adoption}}</strong>  à l'adoption</a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?acompte_verse=NON"><strong>{{acomptes}}</strong> adoptions en attente d'acompte</a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?statut=ADOPTION&pre_visite=NON&acompte_verse=OUI">
                            <strong>{{adoption_previsite}}</strong> pré-visites à faire
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?statut=ADOPTION&pre_visite=OUI&acompte_verse=OUI&montant_restant=0">
                            <strong>{{adoption_paiement}}</strong> adoptions en attente de paiement complet pour montant total de <strong>{{adoption_paiement_montant.montant_restant__sum}} €</strong>
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?visite_controle=NON&date_visite_max={{today_str}}&sterilise=OUI">
                            <strong>{{adoption_post}}</strong>  attendant leur viste post adoption
                        </a></p>
                        <p><a class="text-secondary"
                              href= "{% url 'adoptions' %}?sterilise=NON&date_naissance_max={{interval_7_months_ago_str}}&statuts=ADOPTION&statuts=ADOPTE&statuts=ADOPTE_DEFINITIF">
                            <strong>{{adoption_ste}}</strong>  adoptés de plus de 7 mois non stérilisés
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?visite_controle=VACCIN&visite_controle=ALIMENTAIRE">
                            <strong>{{adoption_controle}}</strong> post visites à contrôler (Vaccin ou Transition alimentaire)
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?statut=ADOPTE&visite_controle=OUI"><strong>{{adoption_over}}</strong> changements d'ICAD à effectuer</a></p>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-paw fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4 mt-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-3">Santé</div>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?statuts=SOIN"><strong>{{soins}}</strong>  en suivi santé rapproché</a></p>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?{{statuts_association_filter}}soin_manquant=OUI"><strong>{{soins_manquants}}
                            </strong>  pour lesquels un soin (tests, vaccin, stérilisation, identification) est manquant</a>
                        </p>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?{{statuts_association_filter}}date_prochain_vaccin_min={{today_str}}&date_prochain_vaccin_max={{interval_10_str}}">
                            <strong>{{vaccins}}</strong>  à vacciner dans les 10 jours
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?{{statuts_association_filter}}date_prochain_vaccin_max={{today_str}}">
                            <strong>{{vaccins_retard}}</strong>  avec un retard de vaccin
                        </a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?bon_envoye=NON"><strong>{{bon_a_envoyer}}</strong> bons de stérilisation à envoyer</a></p>
                        <p><a class="text-secondary" href= "{% url 'adoptions' %}?bon_utilise=NON&date_expiration_min={{today_str}}&date_expiration_max={{interval_10_str}}">
                            <strong>{{bon_a_utilise}}</strong> bons de stérilisation à utiliser dans les 10 jours
                        </a></p>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-heartbeat fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4 mt-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-3">Familles d'accueil</div>
                        <div class="text-xs font-weight-bold text-secondary mb-1">Taux de remplissage
                        </div>
                        <div class="row no-gutters align-items-center mb-4">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{taux_remplissage}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: {{taux_remplissage}}%" aria-valuenow="{{taux_remplissage}}" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?{{statuts_association_filter}}sans_fa=NON"><strong>{{en_famille}}</strong>  actuellement en FA</a></p>
                        <p><a class="text-secondary" href= "{% url 'familles' %}?statut=DISPONIBLE&date_presence_min={{today_str}}&date_presence_max={{today_str}}">
                            <strong>{{disponibles}}</strong> FA disponibles</a>
                        </p>
                        <p><a class="text-secondary" href= "{% url 'familles' %}?statut=INDISPONIBLE&date_presence_min={{today_str}}&date_presence_max={{today_str}}">
                            <strong>{{disponibles_again}}</strong> FA à nouveau disponibles</a>
                        <p><a class="text-secondary" href= "{% url 'familles' %}?statut=A_VISITER"><strong>{{visites}}</strong> FA à visiter</a></p>
                        <p><a class="text-secondary" href= "{% url 'animals' %}?{{statuts_association_filter}}sans_fa=OUI"><strong>{{a_placer}}</strong>  à placer</a></p>
                        <p><a class="text-secondary" href= "{% url 'familles' %}?vide=NON&date_indispo_min={{today_str}}&date_indispo_max={{interval_10_str}}">
                            <strong> {{a_deplacer_10}} </strong>  à déplacer dans moins de 10 jours
                        </a></p>
                        <p><a class="text-secondary"
                              href= "{% url 'animals' %}?statuts=ADOPTABLE&statuts=A_ADOPTER&statuts=QUARANTAINE&nekosable=OUI">
                            <strong>{{nb_nekosables}}</strong>  nekosables</a> dont
                            <a class="text-secondary"
                              href= "{% url 'animals' %}?statuts=ADOPTABLE&statuts=A_ADOPTER&statuts=QUARANTAINE&vaccin_ok=OUI&sterilise=OUI&nekosable=OUI&fiv_felv=OUI&identifie=OUI">
                                <strong>{{nb_nekosables_prets}}</strong>
                            avec tous les soins effectués.</a>
                        </p>
                        <p><a class="text-secondary" href= "{% url 'familles' %}?a_deplacer=OUI"><strong>{{accueils_a_deplacer}}</strong> accueils arrivants à terme</a></p>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-home fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}