{% extends "gestion_association/base.html" %}
{% block content %}

{% if object %}
<h3>Modification de {{object.prenom}} {{object.nom}}</h3>
{% else %}
<h3> Créer une personne </h3>
{% endif %}

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row">
        <div class="col-md-6">
            {% if object %}
            <a href = "{% url 'detail_person' object.id %}"  class="btn btn-secondary">Annuler</a>
   		{% else %}
   			<a href = "{% url 'persons' %}"  class="btn btn-secondary">Annuler</a>
   		{% endif %}
   	</div>
   	<div class="col-md-6">
   		<input class="btn btn-info" type="submit" />
   	</div>
   </div>
</form>
{% endblock %}