{% extends "gestion_association/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <canvas id="adoptions-line-chart" ></canvas>
    </div>
    <div class="col-sm-6">
        <form method="post" action="">
                    {% csrf_token %}
                    {{ adoption_duree_form.annee_tag }} {{ adoption_duree_form.annee }}
                    {{ adoption_duree_form.age_tag }} {{ adoption_duree_form.age }}
                    <br>
                    
                    <button type="submit" class="btn btn-info btn-sm">Calculer</button>
        <canvas id="adoptions-pie" ></canvas>
        <br>
        Nombre d'adoptions total : {{ total_adoptions }}
        <br>
        Moyenne en nombre de jours : {{ moyenne.moyenne }}
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
var adoptionCanvas = document.getElementById('adoptions-line-chart')
var adoptionChart = new Chart(document.getElementById("adoptions-line-chart"), {
  type: 'line',
  data: {
    labels: {{ labels_mois|safe }},
    datasets: [{
        data: {{ data_adoptions_current|safe }},
        label: "Adoptions {{current}}",
        borderColor: "#3e95cd",
        fill: false
      },
      {
        data: {{ data_adoptions_past|safe }},
        label: "Adoptions {{past}}",
        borderColor: "#9b3ecd",
        fill: false
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Adoptions'
    }
  }
});

var adoptionPieCanvas = document.getElementById('adoptions-pie')
var adoptionPieChart = new Chart(document.getElementById("adoptions-pie"), {
  type: 'doughnut',
  data: {
    labels: {{ labels_durees|safe }},
    datasets: [{
        data: {{ data_adoptions_duree|safe }},
        label: "Durée avant adoption",
        backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)'
    ],
      },
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Durée avant adoption'
    }
  }
});


</script>
{% endblock %}